@import url("https://fonts.googleapis.com/css2?family=Onest:wght@400;700&display=swap");
:root {
  /* DARK */
  --darkBackground: #272733;
  --darkTextColor: #f5f5f5;
  --darkInputColor: #585870;

  /* Light */
  --lightBackground: #fafafa;
  --lightTextColor: #1e1e1e;
  --lightInputColor: #cdcdcd;

  --textaccent: #ffa500;
  --primaryButton: #208b59;
  --secondButton: #6464e9;

  --errorcolor: #e04848;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

#app {
  background-color: var(--darkBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Onest", sans-serif;
  transition: ease-in-out 0.5s;
}
#app[theme="light"] {
  background-color: var(--lightBackground);
  h1 {
    color: #1e1e1e;
  }
  p {
    color: var(--lightTextColor);
  }
  label {
    color: var(--lightTextColor);
  }
  input {
    color: var(--lightTextColor);
    background-color: var(--lightInputColor);
  }
  textarea {
    color: var(--lightTextColor);
    background-color: var(--lightInputColor);
  }
}
#Portfolio {
  width: 800px;
}

nav {
  .Navigation-ham {
    display: none;
    transition: 1s ease-in-out;
  }
  ul {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 2rem 0rem;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    .menuitemtrigger {
      display: none;
      img {
        width: 40px;
      }
    }
    .Navigation {
      display: flex;
      gap: 2rem;
      a {
        text-decoration: none;
        color: var(--textaccent);
      }
    }
    .ManuandHam {
      display: flex;
      flex-wrap: wrap;
    }
    .ThemeSelector {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.MenuLenguage {
  .flag {
    width: 40px;
  }
  .menu {
    display: flex;
    gap: 1rem;
  }
  .flag-menu {
    width: 20px;
  }
  .flagen {
    width: 40px;
    height: 30px;
  }
  .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper,
  .css-pwxzbm {
    background-color: transparent;
    box-shadow: none;
  }
}

header {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  figure {
    /* border: 1px solid red; */
    height: fit-content;
    border-radius: 50%;
    img {
      border-radius: 50%;
      width: 200px;
    }
  }
  .content {
    margin-left: 3rem;
    h1 {
      font-size: 50px;
      color: var(--darkTextColor);
    }
    .social {
      p {
        color: var(--textaccent) !important;
      }
      display: flex;
      gap: 1rem;
    }
  }
  .mystatus {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    .avilable {
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 0.5rem 1rem;
      height: fit-content;
      gap: 0.5rem;
      background-color: var(--primaryButton);
      color: var(--darkTextColor) !important;
    }
    .close {
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 0.5rem 1rem;
      height: fit-content;
      gap: 0.5rem;
      background-color: var(--errorcolor);
      color: var(--darkTextColor) !important;
    }
    .resume {
      border-radius: 10px;
      padding: 0.5rem 1rem;
      height: fit-content;
      background-color: var(--secondButton);
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--darkTextColor);
      a {
        text-decoration: none;
        color: var(--darkTextColor);
      }
    }
  }
}

#Aboutme {
  margin-top: 4rem;
  h1 {
    font-size: 30px;
    color: var(--textaccent) !important;
    margin-bottom: 1rem;
  }
  p {
    color: var(--darkTextColor);
    line-height: 1.6;
  }
  .accenttext {
    color: var(--textaccent);
  }
}

#Projects {
  margin-top: 2rem;
  h1 {
    font-size: 30px;
    color: var(--textaccent) !important;
    margin-bottom: 1rem;
  }
  .project {
    position: relative;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
    .projectimga {
      width: 370px;
      border-radius: 10px;
      height: 240px;
      object-fit: cover;
      display: block;
      backface-visibility: hidden;
      transition: 0.5s ease;
    }
  }
  .projectHover {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-0%, -0%);
    -ms-transform: translate(-50%, -50%);
    background-color: var(--darkBackground);
    height: 240px;
    border-radius: 10px;
    padding: 1rem;
    .titleandlink {
      margin-bottom: 2px;
      display: flex;
      justify-content: space-between;
      img {
        width: 20px;
      }
      h3 {
        color: var(--textaccent);
      }
    }
    .pageinfo {
      p {
        color: var(--lightBackground) !important;
      }
      font-size: 14px;
    }
    .techs {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      gap: 20px;
      .techicon {
        width: 25px;
      }
      .pythonicon {
        width: 60px;
        margin-right: -20px;
      }
    }
  }
  .project:hover .projectimga {
    opacity: 0.2;
  }

  .project:hover .projectHover {
    opacity: 1;
  }
}

#Skills {
  h1 {
    color: var(--textaccent) !important;
    font-size: 30px;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .scroller {
    max-width: 100%;

    .scroller__inner {
      padding-block: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      list-style: none;
      gap: 7rem;

      img {
        width: 100px;
      }
    }
  }

  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }

  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 15s linear infinite;
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 3.5rem));
    -webkit-transform: translate(calc(-50% - 3.5rem));
    -moz-transform: translate(calc(-50% - 3.5rem));
  }
}

#contact {
  margin-top: 2rem;
  .error {
    color: var(--errorcolor);
  }
  .email {
    width: 100% !important;
  }
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline,
  .css-igs3ac {
    border: none !important;
  }
  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100%;
  }

  h1 {
    font-size: 30px;
    color: var(--textaccent) !important;
  }
  .css-xn6ruc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }
  label {
    color: var(--darkTextColor);
  }
  .css-i44wyl {
    width: 100%;
  }
  input,
  textarea {
    background-color: var(--darkInputColor);
    border-radius: 10px;
    color: var(--darkTextColor);
    padding-top: 1rem;
    fieldset {
      border: none;
    }
  }
  textarea {
    padding: 1rem;
  }
  .css-1hof3tc {
    padding: 0;
  }
  .message {
    width: 100% !important;
    .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
      padding: 0;
    }
  }
  button {
    background-color: var(--primaryButton);
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  hr {
    border: none !important;
    height: 1px;
    background-color: var(--textaccent);
    width: 90%;
    margin-bottom: 1rem;
  }
  p {
    color: var(--darkTextColor);
  }
  a {
    text-decoration: none;
    color: var(--textaccent);
  }
}

/* RESPONSIVE */

@media screen and (max-width: 800px) {
  #Portfolio {
    width: 100%;
  }
  #app {
    padding: 2rem;
  }
  #Projects {
    .projects {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 615px) {
  nav {
    margin-top: 0rem;
    ul {
      margin: 0rem;
      .menuitemtrigger {
        display: flex;
      }
      .Navigation {
        display: none;
      }
    }
  }
  .Navigation-ham.is-open {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    a {
      text-decoration: none;
      color: var(--textaccent);
    }
  }

  .content {
    margin-left: 0px !important;
  }
  header {
    width: 100%;
    flex-direction: column;
    h1 {
      font-size: 20px;
    }
    .social {
      justify-content: center;
    }
    .mystatus {
      justify-content: center;
    }
  }

  #Skills {
    .scroller {
      .scroller__inner {
        gap: 2rem;
        img {
          width: 50px;
        }
      }
    }
  }
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 1rem));
    }
  }
  footer {
    margin: 0rem 0;
  }
}
@media screen and (max-width: 425px) {
  #Portfolio {
    width: 100%;
  }
  .mystatus {
    font-size: 12px;
  }
  .content {
    h1 {
      font-size: 40px !important;
    }
  }
  #Projects {
    .projects {
      justify-content: center;
      .projectimga {
        width: 100%;
      }
    }
    .projectHover {
      height: 100%;
      width: 100%;
      p {
        font-size: 12px;
      }
      .techs {
        flex-wrap: wrap;
        .techicon {
          width: 20px;
        }
        .pythonicon {
          width: 45px;
        }
      }
    }
  }
}
